:root {
    --raleway: 'Raleway', sans-serif;
}

body {
    margin: 0;
    /*    background-color: #2a3a38;*/
}

p,
h1,
h2,
h3 {
    font-family: var(--raleway);
}

.generel_grid {
    display: grid;
    grid-template-rows: auto auto 70px;
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    grid-row: 1;
    display: grid;
    grid-template-columns: 25% auto 25%;
    height: 61.28px;

}

header img {
    max-width: 100%;
    grid-column: 2;
    align-self: center;
}

nav {
    grid-row: 3;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 70px;
    grid-gap: 5px;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

header,
nav {
    background-color: #2a3a38;
    text-align: center;
}

main {
    grid-row: 2;
}

button img {
    width: 100%;
    position: relative;
}

button {
    border-color: transparent;
    background: 0;
}

.hide {
    display: none;
}
